:root {
  --blue: #84e4f9;
  --purple: #8d3bf6;
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);

  --background: rgba(13, 17, 23, 1);
  --theme1: rgba(1, 4, 9, 1);
  --theme2: rgba(22, 27, 34, 1);
  --border: rgba(48, 54, 61, 1);
}

body {
  font-family: "Aldrich", sans-serif;
  background-color: var(--background);
  color: var(--white);
}

#cursor {
  display: inline-block;
  width: 2px;
  height: 25px;
  background-color: white;
  animation: blink 1s infinite;
}

/* Define the blinking animation */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* nav */
.hamburger {
  position: absolute;
  right: 25px;
  top: 25px;
  background-color: var(--theme1);
  border: 2px solid var(--border);
  padding: 5px 10px 5px 12px;
  color: var(--white);
  z-index: 1;
}

#sideNav {
  display: block; /* Initially hidden */
  background-color: rgba(1, 4, 9, 0.5);
  border: 2px solid var(--border);
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100px;
  z-index: 2;
  backdrop-filter: blur(10px);
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
  padding-top: 100px;
  margin: 0;
}

.items {
  text-decoration: none;
  cursor: pointer;
  color: var(--purple);

  font-size: 20px;
  font-weight: 600;
}

.items:hover {
  filter: drop-shadow(0px 0px 10px var(--blue));
  color: var(--blue);
}

/* section-1 */

#section-1 {
  height: 100vh;
}

.code_box {
  background-color: var(--theme2);
  border: 5px solid var(--border);
  border-radius: 15px;
  box-shadow: 0 0 5px 2px var(--border);
}

.code_header {
  background-color: var(--theme1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 40px;
  padding-left: 5px;
}

.dots {
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.code_body {
  padding: 10px 10px 10px 10px;
  font-size: 20px;
}

.dotted-border {
  border-left: 5px dashed rgba(140, 59, 246, 0.75);
}

.dotted-border .circle {
  width: 50px;
  height: 50px;
  background-color: var(--blue);
  position: absolute;
  margin-left: -76px;
  border: 5px solid var(--purple);
  border-radius: 50%;
}

.heading {
  color: var(--blue);
}

.ddd-container {
  transform-style: preserve-3d;
}

.ddd-container .box {
  transform-style: preserve-3d;
  position: relative;
  height: 400px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.ddd-container .box .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate3d(0%, 0%, 0px);
  border-radius: 10%;
  border: 5px solid var(--border);
  background: var(--theme1);
  opacity: 0.5;
  transition: 0.5s;
  transform-style: preserve-3d;
  z-index: 10;
}

.ddd-container .box .logo {
  /* position: absolute; */
  width: 75%;
  height: 75%;
  object-fit: scale-down;
  transition: 0.5s;
  z-index: 11;
  transform-style: preserve-3d;
  transform: translate3d(0%, 0%, 50px);
}

.ddd-container .box:hover .logo {
  transform: translate3d(0%, 0%, 50px);
}

.links {
  cursor: pointer;
  text-decoration: none;
  color: blue;
}

.description_box {
  background-color: var(--theme1);
  margin-top: 15px;
  padding: 15px;
}

.project2_title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 30px;
  color: var(--blue);
}

.project-logo {
  width: 100px;
  height: 100px;
  transition: 1s ease-in-out;
  background-color: rgb(135, 135, 135);
  border-radius: 50%;
}
.project-title {
  font-size: 20px;
  color: black;
  transform: translateY(10px);
  transition: 1s ease-in-out;
}
.project-content {
  opacity: 0;
  height: 0px;
  transition: 1s ease-in-out;
  padding: 5px 50px 5px 50px;
  transform: translateY(-75px);
}

.project-bar-1 {
  height: 125px;
  width: 55vw;
  background-color: #fab83f;
  transition: 1s ease-in-out;
}
.project-bar-1:hover {
  height: 350px;
  width: 65vw;
  transition: 1s ease-in-out;
}
.project-bar-1:hover .project-logo {
  width: 300px;
  height: 300px;
  transition: 1s ease-in-out;
}
.project-bar-1:hover .project-content {
  opacity: 1;
  transition: 1s ease-in-out;
}
.project-box-2 {
  margin-right: -50px;
  transition: 1s ease-in-out;
}
.project-bar-1:hover .project-box-2 {
  margin-right: 50px;
  transition: 1s ease-in-out;
}
.project-bar-1:hover .project-title {
  transform: translateY(-100px);
  transition: 1s ease-in-out;
}

/* bar 2 */
.project-bar-2 {
  height: 125px;
  width: 60vw;
  background-color: #4cbce5;
  transition: 1s ease-in-out;
}
.project-bar-2:hover {
  height: 350px;
  width: 65vw;
  transition: 1s ease-in-out;
}
.project-bar-2:hover .project-logo {
  width: 300px;
  height: 300px;
  transition: 1s ease-in-out;
}
.project-bar-2:hover .project-content {
  opacity: 1;
  transition: 1s ease-in-out;
}
.project-box-2 {
  margin-right: -50px;
  transition: 1s ease-in-out;
}
.project-bar-2:hover .project-box-2 {
  margin-right: 50px;
  transition: 1s ease-in-out;
}
.project-bar-2:hover .project-title {
  transform: translateY(-100px);
  transition: 1s ease-in-out;
}

/* bar 3 */
.project-bar-3 {
  height: 125px;
  width: 55vw;
  background-color: #0200e3;
  transition: 1s ease-in-out;
}
.project-bar-3:hover {
  height: 350px;
  width: 65vw;
  transition: 1s ease-in-out;
}
.project-bar-3:hover .project-logo {
  width: 300px;
  height: 300px;
  transition: 1s ease-in-out;
}
.project-bar-3:hover .project-content {
  opacity: 1;
  transition: 1s ease-in-out;
}
.project-box-2 {
  margin-right: -50px;
  transition: 1s ease-in-out;
}
.project-bar-3:hover .project-box-2 {
  margin-right: 50px;
  transition: 1s ease-in-out;
}
.project-bar-3:hover .project-title {
  transform: translateY(-100px);
  transition: 1s ease-in-out;
}

/* bar 4 */
.project-bar-4 {
  height: 125px;
  width: 50vw;
  background-color: #0da896;
  transition: 1s ease-in-out;
}
.project-bar-4:hover {
  height: 350px;
  width: 65vw;
  transition: 1s ease-in-out;
}
.project-bar-4:hover .project-logo {
  width: 300px;
  height: 300px;
  transition: 1s ease-in-out;
}
.project-bar-4:hover .project-content {
  opacity: 1;
  transition: 1s ease-in-out;
}
.project-box-2 {
  margin-right: -50px;
  transition: 1s ease-in-out;
}
.project-bar-4:hover .project-box-2 {
  margin-right: 50px;
  transition: 1s ease-in-out;
}
.project-bar-4:hover .project-title {
  transform: translateY(-100px);
  transition: 1s ease-in-out;
}

/* BAR 5 */
.project-bar-5 {
  height: 125px;
  width: 55vw;
  background-color: #442729;
  transition: 1s ease-in-out;
}
.project-bar-5:hover {
  height: 350px;
  width: 65vw;
  transition: 1s ease-in-out;
}
.project-bar-5:hover .project-logo {
  width: 300px;
  height: 300px;
  transition: 1s ease-in-out;
}
.project-bar-5:hover .project-content {
  opacity: 1;
  transition: 1s ease-in-out;
}
.project-box-2 {
  margin-right: -50px;
  transition: 1s ease-in-out;
}
.project-bar-5:hover .project-box-2 {
  margin-right: 50px;
  transition: 1s ease-in-out;
}
.project-bar-5:hover .project-title {
  transform: translateY(-100px);
  transition: 1s ease-in-out;
}

/* ========== */

.btn-style {
  padding: 1rem 1rem 1rem 1rem;
  border: none;
  color: var(--black);
  background-image: linear-gradient(to right, var(--purple), var(--blue));
  border-radius: 50px;
  box-shadow: inset 0 0 0 0 var(--blue);
  transition: ease 0.5s;
  font-size: 20px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-style:hover {
  box-shadow: inset 10rem 0 0 1px var(--purple);
  cursor: pointer;
  color: var(--blue);
}
