/* contact */
.contact-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-link {
  font-size: 16px;
  text-decoration: none;
  color: var(--accent);
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.contact-icons {
  width: 34px;
  height: 34px;
  object-fit: contain;
  margin-right: 8px;
}
.small {
  font-size: 12px;
  color: var(--muted);
}

/* footer */
footer {
  grid-column: 1/-1;
  margin-top: 28px;
  text-align: center;
  color: var(--muted);
  font-size: 16px;
}
